{{name}}
-------

## Common Properties

| Property          | Value |
| ----------------- | ----- |
| **Name:**         | {{name}}   |
| **ID:**           | {{sys.id}}   |
| **DisplayField:** | {{displayField}}  |


## Description

{{description}}

## Fields

| Id | Name | Type | Required | Localized | HelpText |
| -- | ---- | ---- | -------- | --------- | -------- |
{{#fields}}
| {{id}} | {{name}} | {{#linkType}}{{type}}<{{linkType}}>{{/linkType}}{{^linkType}}{{type}}{{/linkType}} | {{#required}}✓{{/required}}{{^required}}✗{{/required}} | {{#localized}}✓{{/localized}}{{^localized}}✗{{/localized}} | {{settings.helpText}} |
{{/fields}}